.landing-event-plan{
	background-position: center center;
	background-size: cover !important;
	width: 100%;
	height: auto; 
	padding-top: 80px;
	overflow: visible;
	display: flex;
	  justify-content: center;
	.event-plan{
		margin-top: 20px;
		// position: relative;
		// left:50%;
		bottom: 0;
		// transform: translateX(-50%);
		background: hubl("$first_color");
		width: 65%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
    	@media only screen and (max-width : 768px) {
                width: 95%;
    	}
    	@media only screen and (max-width : 1180px) {
                width: 75%;
    	}

		.title-event-wrap{
			height: 72px;
			display: flex;
			justify-content: center;
			color: #fff;
			font-size: 31px;
			font-weight: 200;
			line-height: 72px;
			@media only screen and (max-width : 580px) {
	              font-size: 26px;
	    	}
	    	@media only screen and (max-width : 380px) {
	              font-size: 20px;
	    	}
			.time-event{
				display: block;
				width: 20%;
				margin:0;
				padding-left: 30px;
				@media only screen and (max-width : 580px) {
	              padding-left: 15px;
	    		}

			}
			.title-event{
				display: block;
				width: 80%;
				margin:0;
				padding-left: 30px;

			}
		}
		.content-event{
			span.hs_cos_wrapper{
				height: auto;
				background-color: #ffc400;
				div.hs_cos_wrapper {
					display: block;
					width: 100%;
					height: 79px;
					margin-top: 1px;
					&:nth-child(even) {
					    background: #393939;
					}
					&:nth-child(odd) {
					    background: hubl("$second_color");
					}
				}
			}
		}
	}
}





